/* fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common Class */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
  transition: opacity 0.5s ease;
}
body,
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #ffae00;
  --secondary-color: #f8f8f8;
  --tertiary-color: #8d8d8d;
}
::selection {
  background-color: var(--primary-color);
  color: white;
}
input::placeholder,
textarea::placeholder {
  color: #b0b0b0;
  font-size: 14px;
  text-transform: capitalize;
}
input,
textarea {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 5px;
}
label {
  display: inline-block;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-wrap: nowrap;
  color: #575757;
  text-transform: capitalize;
  font-weight: 500;
}
.container {
  max-width: 1308px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.small-container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-20 {
  width: 20%;
  padding: 0 15px;
}
.col-25 {
  width: 25%;
  padding: 0 15px;
}
.col-33 {
  width: 33.33%;
  padding: 0 15px;
}
.col-50 {
  width: 50%;
  padding: 0 15px;
}

ul li {
  list-style-type: none;
}
a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
span {
  display: inline-block;
}
.main-heading {
  font-size: 48px;
  font-weight: 600;
}
.commonl-heading {
  font-size: 45px;
  color: #000000;
  font-weight: 600;
}
.heads {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
}
.normal-head {
  font-size: 24px;
  font-weight: 500;
}
.commonl-para {
  font-size: 14px;
  font-weight: normal;
  color: var(--tertiary-color);
}
.common-gap {
  padding: 100px 0;
}
.commonl-hover::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: black;
  transition: width 0.7s ease;
}
.commonl-hover:hover::before {
  width: 100%;
}
.btn-effect {
  position: relative;
  overflow: hidden;
}
.btn-effect::before {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 0.7s ease;
}
.btn-effect:hover::before {
  width: 100%;
}

/* Header section */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.nav-logo {
  max-width: 200px;
  position: relative;
  top: 8px;
  height: 90px;
}
.nav-logo > a > img {
  width: 100%;
  object-fit: contain;
}
.nav-wrpr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  gap: 67px;
  align-items: center;
}
.nav-right > ul {
  display: flex;
  gap: 23px;
  align-items: center;
}
.nav-right > ul a {
  color: #000000;
  text-transform: capitalize;
  position: relative;
  transition: color 0.7s ease;
}

ul a.active {
  color: var(--primary-color);
}
ul a:hover {
  color: var(--primary-color);
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-btn > a:first-child {
  color: #000000;
  text-transform: capitalize;
  transition: transform 0.7s ease;
}
.nav-btn > a:first-child:hover {
  transform: scale(1.1);
}
.nav-btn > a:last-child {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  text-transform: capitalize;
}

/* hamberger */
.toggler {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  display: none;
}
.toggler:hover {
  background-color: lightgray;
}
.hamberger > span {
  width: 100%;
  background-color: var(--primary-color);
  height: 3px;
  width: 20px;
}
.hamberger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Mobile menu */
.mobileview {
  width: 50%;
  height: 100vh;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 999999;
  transform: translate(100%, -100%);
  transition: transform 0.7s ease;
  right: 0;
  top: 0;
  padding-top: 10rem;
  text-align: center;
}
.mobileview.open-active {
  transform: translate(0, 0);
}
.classbtn {
  border: none;
  outline: none;
  background: none;
  font-size: 2.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
}
.phone-wrpr {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.phone-wrpr > ul > li {
  padding: 15px;
  text-transform: capitalize;
}
.phone-wrpr > ul > li > a {
  color: white;
}
.phone-btn {
  padding: 20px;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.phone-btn > a {
  color: black;
}
.phone-btn > a:last-child {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.phone-btn > a:hover {
  color: white;
}

/* How its wokr banner section */
.work-sec {
  padding: 100px 0 236px;
  background-image: url("../assets/Image20250624203733.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.right-img {
  max-width: 928px;
  margin: 0 auto;
}
.right-img > img {
  width: 100%;
  object-fit: contain;
}
.outlined {
  font-size: 133px;
  color: transparent;
  -webkit-text-stroke: 2px gray;
  font-weight: bolder;
  text-transform: uppercase;
}
.work-flt {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  color: #ffae00;
  font-size: 197px;
  font-weight: bold;
  z-index: 999;
}
.work-right {
  position: relative;
}
.man-business {
  position: absolute;
  max-width: 502px;
  width: 100%;
  object-fit: contain;
  right: 0;
  top: 0;
  z-index: 99999;
}
.workcar {
  max-width: 800px;
  position: absolute;
  z-index: 999999;
  left: 0;
  margin-top: -80px;
}
.workcar > img {
  width: 100%;
  object-fit: contain;
}
/* Why choose section */
.why-header {
  text-align: center;
  margin-bottom: 65px;
}
.why-header > h2 {
  margin-bottom: 6px;
}
.why-header > p {
  max-width: 474px;
  margin: 0 auto;
}
.why-img {
  max-width: 552px;
}
.why-img > img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.7s ease-in-out;
}
.why-img > img:hover {
  transform: scale(1.1);
}
.why-content > div {
  display: flex;
  gap: 18px;
}
.why-content p {
  max-width: 345px;
  margin: 0 auto;
}
.why-content > div:first-child {
  margin-bottom: 85px;
}
.why-content > div:nth-child(2) {
  margin-bottom: 65px;
}
.why-content > div > div:last-child > div {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 11px;
}
.calling {
  background-color: var(--primary-color);
  font-size: 1.5rem;
  min-width: 50px;
  height: 50px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.calling:hover .fa-phone-volume {
  color: #000000;
  transition: color 0.9s ease;
}
.calling a {
  color: white;
}
/* Client reviews section */
.reviews-header {
  text-align: center;
  margin-bottom: 26px;
}
.reviews-header > h2 {
  margin-bottom: 6px;
}
.reviews-header > p {
  max-width: 850px;
  margin: 0 auto;
}
.client-content > div:first-child {
  max-width: 330px;
  margin-bottom: 41px;
}
.client-content > p {
  max-width: 450px;
}
.client-content > p:nth-child(2) {
  margin-bottom: 31px;
}
.client-content > p:nth-child(3) {
  margin-bottom: 61px;
}
.search {
  border: 1px solid var(--primary-color);
  max-width: 388px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #fff9f9;
  padding: 16px 16px 18px 10px;
}
.search > input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff9f9;
}

#slider2 {
  height: 450px;
  width: 100%;
}

#slider2 .swiper-button-prev::after,
#slider2 .swiper-button-next::after {
  display: none;
}
#slider2 .swiper-button-next,
#slider2 .swiper-button-prev {
  width: 37px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
#slider2 .swiper-button-next > i,
#slider2 .swiper-button-prev > i {
  color: var(--primary-color);
}
.reviews-img {
  max-width: 402px;
  margin: 0 auto;
}
.reviews-img > img {
  width: 100%;
  object-fit: contain;
}
.reviews-content {
  padding: 20px 25px 21px 29px;
  box-shadow: 0 0 11px 5px #e7e2e2;
  border-radius: 11px;
  max-width: 437px;
}
.reviews-content > p {
  max-width: 383px;
  font-size: 11px;
  color: #b0b0b0;
}
.reviews-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-content > div p {
  font-size: 9px;
  color: #b0b0b0;
}
.reviews-content > div > div {
  text-align: center;
}
.reviews-content > div > div img {
  width: 10px;
  height: 10px;
}

/* Happy Client section */
.stats > div > div {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}
.stat {
  text-align: center;
}
.stats{
  background-color: var(--primary-color);
}
.stat h3 {
  font-size: 2em;
}

/* Contact section */
.contact-sec {
  padding-top: 180px;
  position: relative;
  z-index: 2;
  margin-bottom: -270px;
}
.form-wrpr {
  max-width: 896px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 20px 6px;
  border-radius: 16px;
  padding: 31px 88px 14px 100px;
  background-color: white;
}
.form-head {
  font-size: 47px;
  font-weight: normal;
  margin-bottom: 33px;
  text-align: center;
}
.formcar {
  max-width: 691px;
  margin: 29px auto 0;
}
.formcar > img {
  width: 100%;
  object-fit: contain;
}
.form-content > p:first-child {
  position: relative;
  z-index: 999;
  font-size: 24px;
  margin-bottom: 13px;
}
.form-content > p:first-child > img {
  position: absolute;
  bottom: -44px;
  left: 114px;
  max-width: 180px;
  width: 100%;
  object-fit: contain;
}
.form-content > p:nth-child(2) {
  color: #ada9a9;
  margin-bottom: 18px;
}
.form-content > a:last-child {
  max-width: 180px;
}
.form-content > a:last-child > img {
  width: 100%;
  object-fit: contain;
}
.form > div {
  margin-bottom: 28px;
  width: 100%;
}
.form > div > input,
.form textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  outline: none;
  resize: none;
}
.form > div > input {
  padding: 12px 0 16px 11px;
  background-color: white;
}
.form textarea {
  padding: 11px 0 65px 12px;
  background-color: white;
}
.form a {
  padding: 11px 6px 10px 9px;
  color: white;
  background: var(--primary-color);
  border-radius: 5px;
}
.form-content > a:last-child:hover {
  transform: scale(1.1);
}
/* Footer section */
.footer-line {
  width: 100%;
  background-color: var(--primary-color);
  height: 0.5px;
  margin: 28px 0 8px;
}
.footer-sec {
  padding: 380px 0 20px;
  background: #000000;
  color: white;
  position: relative;
  z-index: 0;
}
.footer-btm {
  display: flex;
  gap: 7px;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 14px;
}

.logo {
  max-width: 90px;
  height: 100px;
}
.logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(2) translateX(10px);
}

.comp-logo > p {
  margin-bottom: 10px;
}
.comp-logo ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.comp-logo ul a {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 246, 248, 0.1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comp-logo .fa-brands {
  color: var(--primary-color);
  font-size: 20px;
}
.company,
.help,
.letter {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-title-sm {
  font-weight: 400;
  color: white;
}
.company ul,
.help ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.company a,
.help a {
  position: relative;
  color: white;
}
.company a:hover,
.help a:hover {
  color: var(--primary-color);
  transition: color 0.7s ease;
}

.company a::before,
.help a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 1px;
  background-color: var(--primary-color);
  transition: width 0.7s ease;
}
.company a:hover::before,
.help a:hover::before {
  width: 100%;
}
.letter input[type="text"] {
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  padding: 11px 0 12px 7px;
  border-radius: 3px;
}

.letter a {
  padding: 7px 11px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  margin-top: 23px;
}

@media screen and (max-width: 1200px) {
  .work-sec .col-20 {
    width: 33.33%;
  }
  .work-card {
    margin-bottom: 30px;
  }
  .workcar {
    display: none;
  }
  .outlined {
    font-size: 129px;
  }
}
@media screen and (max-width: 1024px) {
  /* Header section */
  .nav-right {
    display: none;
  }
  .toggler {
    display: block !important;
  }
  .contact-sec {
    padding-top: 100px;
  }
  /*  */
  .outlined {
    font-size: 96px;
  }
  .work-flt {
    font-size: 167px;
  }
  .man-business {
    top: 50px;
  }
}
@media screen and (max-width: 992px) {
  /* Header section */
  .header-section {
    background-color: black;
  }
  .common-gap {
    padding: 80px 0;
  }
  /* Why Choose section */
  .why-sec .col-50 {
    width: 100%;
  }
  .why-sec > div > div:last-child {
    flex-direction: column-reverse;
  }
  .why-img {
    margin: 0 auto 30px;
  }
  .why-content > div {
    justify-content: center;
  }
  .why-content > div:first-child,
  .why-content > div:nth-child(2) {
    margin-bottom: 40px;
  }

  /* Client reviews section */
  .client-reviews .col-50 {
    width: 100%;
  }
  .client-content > p,
  .client-content > div:first-child {
    max-width: 100%;
  }
}
@media screen and (max-width: 891px) {
  .outlined {
    font-size: 75px;
  }
  .work-flt {
    font-size: 135px;
  }
  .work-sec {
    padding: 100px 0 209px;
  }
}
@media screen and (max-width: 768px) {
  .common-gap {
    padding: 70px 0;
  }
  /* Contact section */
  .contact-sec {
    padding-top: 80px;
  }
  .form-head {
    font-size: 37px;
  }
  .form-content > p:first-child {
    font-size: 20px;
  }
  .form-wrpr {
    padding: 31px 60px 14px 60px;
    max-width: 650px;
  }
  .form textarea {
    padding: 11px 0 40px 12px;
  }
  .form-content > p:first-child > img {
    bottom: -29px;
    max-width: 140px;
    left: 93px;
  }
  /* Footer section */
  .footer-sec .col-25 {
    width: 50%;
  }
}
@media screen and (max-width: 708px) {
  .outlined {
    font-size: 60px;
  }
  .work-flt {
    font-size: 92px;
  }
  .work-sec {
    padding: 100px 0 156px;
  }
}
@media screen and (max-width: 600px) {
  .work-sec .col-20 {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .common-gap {
    padding: 40px 0;
  }
  .nav-logo > a > img {
    width: 50%;
  }
  .mobileview {
    width: 100%;
  }
  .nav-logo {
    top: 27px;
  }
  /*  */
  .outlined {
    font-size: 42px;
  }
  .work-flt {
    font-size: 71px;
  }
  .work-top > div {
    font-size: 24px;
  }
  .work-img > img {
    width: 65%;
  }
  /* Why choose section */
  .why-header > h2 {
    font-size: 24px;
  }
  .why-content > div > div:last-child > div {
    font-size: 20px;
  }
  .why-content p {
    font-size: 12px;
  }
  /* Contact section */
  .contact-sec {
    padding-top: 60px;
    margin-bottom: -300px;
  }
  .contact-sec .col-50 {
    width: 100%;
  }
  .form-head {
    font-size: 24px;
  }
  .form {
    margin-bottom: 30px;
  }
  .form > div,
  .formcar {
    margin-bottom: 18px;
  }
  .form-content {
    text-align: center;
  }
  .form-content p {
    display: none;
  }

  /* Footer section */
  .comp-logo .fa-brands {
    font-size: 16px;
  }
  .comp-logo ul a {
    width: 30px;
    height: 30px;
  }
  .comp-logo ul {
    gap: 5px;
  }
  .company ul,
  .help ul {
    gap: 20px;
  }
  .company,
  .help,
  .letter {
    gap: 25px;
  }
}
@media screen and (max-width: 491px) {
  .reviews-content {
    max-width: 300px;
    margin: 0 auto;
  }
  .reviews-content > p {
    font-size: 9px;
  }
  /* Contact section*/
}
@media screen and (max-width: 425px) {
  .outlined {
    font-size: 30px;
  }
  .work-flt {
    font-size: 71px;
  }
  .man-business {
    top: 86px;
  }
  .card-head {
    font-weight: bold;
    font-size: 10px;
  }
  .work-content > p {
    font-size: 9px;
  }
  /* why choose us section*/
  .why-content > div:first-child,
  .why-content > div:nth-child(2) {
    margin-bottom: 15px;
  }
  .why-content > div {
    gap: 10px;
  }
  .calling {
    font-size: 1.2rem;
    min-width: 40px;
    height: 40px;
  }
  .why-content > div > div:last-child > div {
    font-size: 18px;
    margin-bottom: 4px;
  }
  /* Contact section */
  .contact-sec {
    padding-top: 40px;
  }
  .form-wrpr {
    padding: 18px 25px 14px 25px;
  }
  .form-head {
    font-size: 19px;
  }
  .form-content > div:last-child > img {
    height: 80px;
  }
}
@media screen and (max-width: 320px) {
  .man-business {
    top: 105px;
  }
  /* Footer section */

  .footer-sec .col-25 {
    width: 100%;
  }
  .footer-sec > div > div:first-child {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    margin: 0 auto;
  }
  .logo > img {
    transform: translateY(14px) scale(2);
  }
  .comp-logo ul {
    justify-content: center;
  }
  .company,
  .help,
  .letter {
    gap: 15px;
  }
  .company ul,
  .help ul {
    gap: 10px;
  }
}
